* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: relative;
    text-align: center;
    background-color: white;
    height: 10vh;
    z-index: 6;
}

header>nav {
    display: inline-block;
    background-color: white;
    height: 10vh;
    width: 35vw;
    line-height: 10vh;
}

#headerLeft_nav {
    float: left;
}

header>div {
    display: inline-block;
    height: 7vh;
}

header>div a {
    display: inline-block;
    background: url(../../image_folder/logo_basic.png) center/cover;
    width: 18vw;
    height: 7vh;
    margin: calc((10vh - 7vh)/2) auto;
}

#headerRight_nav {
    float: right;
}

header li {
    display: inline-block;
    margin: 0 1vw;
}

header li>a {
    display: inline-block;
    width: 100px;
    line-height: 5vh;
    color: black;
    font-size: 18px;
}

header li>a:hover {
    font-weight: bold;
    background-color: rgb(193, 193, 193);
}

/* 
header
===================================================== 
*/
main {
    width: 100%;
}

main>section {
    display: grid;
    grid-template: 3fr 1fr .5fr 130vh .5fr / 1.5fr 7fr 1.5fr;
    height: 130vw;
}

.main_first_div {
    border: 1px solid;
    grid-column: 2 / -2;
}

.main_banner {
    grid-row: 1 / span 1;

    background: url(../image_folder/background_watch_brown.jpeg);
}

.main_title {
    grid-row: 2 / span 1;
}

.main_nav {
    grid-row: 3 / span 1;
}

.main_items {
    grid-row: 4 / span 1;
}

.main_pageBtn {
    grid-row: 5 / span 1;
}

/* 
main rayOut
===================================================== 
*/

.main_items {
    display: grid;
    grid-template: 1fr 5fr 1fr 5fr 1fr / 1fr 5fr 1fr 5fr 1fr;
}

.itemOne {
    position: relative;
    background: url(../image_folder/itemOne_01.jpeg);
}

.itemOne.itemFirst {
    grid-area: 2 / 2 / span 1 / span 1;
}

.itemOne.itemSecond {
    grid-area: 2 / 4 / span 1 / span 1;
}

.itemOne.itemThird {
    grid-area: 4 / 2 / span 1 / span 1;
}

.itemOne.itemFourth {
    grid-area: 4 / 4 / span 1 / span 1;
}
/* ============ */

.itemOne::before {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0006;
}

.itemOne a {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #fff6;
}

.itemOne:hover::before {
    display: block;
}

.itemOne:hover a {
    display: block;
}

/*
item hover 
   ============ */

/* 
main item
=====================================================
*/

aside>div {
    position: fixed;
    top: 0;
    left: 0;
    width: 2vw;
    height: 100vh;
    border: 2px solid black;

    z-index: 2;
}

aside>div:hover {
    display: none;
    z-index: 0;
}

aside>div:hover+nav {
    display: inline-block;
}

aside>nav:hover {
    z-index: 5;
}

aside>nav {
    display: none;
    border: 2px solid black;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: antiquewhite;

    width: 30vw;
    height: 100vh;

    z-index: 1;
}

aside>nav:hover {
    display: inline-block;
}

aside>nav>ul {
    margin-top: 10vh;
}

/* 
main_aside
=====================================================
*/

footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    z-index: 3;
}

footer>nav {
    height: 35vh;
    background-color: #333;
}

footer>div {
    height: 20vh;
    background-color: #444;
}

/* 
footer
===================================================== 
*/
