* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    height: 80px;
}

/* 
===================================================== header */

main{
    min-height: 95vh;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    justify-content: center;
    align-items: start;
}

.changepwd_h1 p{
    margin-top: 5%;
}
form{
    text-align: center;
}

form p{
    padding-left: 5%;
    font-size: .8rem;
    color: red;
}

main form{
    margin-top: 10%;
}

.change_psw_main>hr{
    border: 2px solid red;

    width: 5%;
    
    margin: auto;
    margin-top: 5%;
}

.change_psw_main{
    width: 800px;
    margin-top: 80px;
    
    align-self: start;
    text-align: center;
    position: relative;
}

.changepwd_h1>h1{
    font-size: 2rem;
}

.change_input{
    display: block;
    font-size: 1.5rem;
    font-weight: lighter;

    width: 90%;
    height: 30%;

    border: none;
    border-bottom: 1px solid;

    padding-top: 3%;
    box-sizing: border-box;

    position: relative;
    left: 5%;
    
}

.change_input:focus{
    outline: none;
}
.change_userinfo_label{
    padding-left: 5%;
    text-transform: uppercase;
}
.password,
.confirm_password{
    text-align: left;
    margin-top: 5%;
}
.changepswd_button{
    
    background-color: black;
    color: white;

    border:1px solid;
    box-sizing: border-box;
    
    text-transform: uppercase;
    text-align: center;

    font-size: .8rem;
    width: 45%;
    line-height: 2.5rem;

    margin-top: 10%;
    cursor: pointer;
}

.inputDiv{
    position: relative;
}
.show_psw1,
.show_psw2{
    background: none;
    border: none;
    
    right: 6%;
    font-size: 1.2rem;
    
    position: absolute;
  
    bottom: 50%;
    transform: translateY(50%);
}
span .fa-solid{
    cursor: pointer;
}
span .fa-eye-slash{
    display: none;
}


/*===================================main media=========================================*/
@media screen and (min-width: 550px) and (max-width: 999px) {
    :root {
        font-size: 14.5px;
    }
    main{
        grid-template-rows: 80px 1fr 80px;
    }

    main .change_psw_main{
        width: 600px;
    }

}

@media screen and (max-width: 549px){
    :root{
        font-size: 12px;
    }
    main{
        min-height: 60vh;
        grid-template-rows: 80px 1fr 80px;
    }

    main .change_psw_main{
        width: 400px;
    }
}



/* 
=====================================================^
*/

@media screen and (min-width:400px) {
    footer {
        width: 100%;
        height: auto;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;
        height: auto;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 3fr .5fr 2fr .5fr 3fr .5fr 2fr .5fr 3fr .5fr 1fr .5fr 1.5fr ;
    }

    .footer_center {
        text-align: center;
        align-self: center;
    }

    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-row: 14/15;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        border-radius: 50%;
    }

    .footer_icon>span i {
        color: black;
    }

    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    
    .footer_left_name {
        grid-row: 2/3;
    }

    .footer_left_contents {
        grid-row: 4/5;
    }

    .footer_middle_name {
        grid-row: 6/7;
    }

    .footer_middle_contents {
        grid-row: 8/9;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
    
        grid-row: 10/11;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
    
        grid-row: 12/13;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

    .footer_last_contents {
    
        grid-row: -1/-2;
    
        font-size: 1.3em;
    }
}

@media screen and (min-width:1000px) {
    footer {
        width: 100%;
        height: 40vh;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;

        display: grid;
        grid-template: .5fr 2fr 5fr 1fr 1.5fr / 3fr .5fr 3fr .5fr 3fr;

    }
    
    .footer_center {
        text-align: center;
        align-self: center;
    }
    
    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-area: 4 / 1 / 5 / span 1;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
        position: relative;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        /* border-radius: 30%; */
        
    }

    .footer_icon>span i {
        color: black;
    } 
    
    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }

    .footer_left_name {
        grid-area: 2 / 1 / 3 / span 1;
    }

    .footer_left_contents {
        grid-area: 3 / 1 / 4 / span 1;
    }

    .footer_middle_name {
        grid-area : 2 / 3 / span 1 / 4;
    }

    .footer_middle_contents {
        grid-area : 3 / 3 / span 1 / 4;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
        grid-area : 2 / -1 / span 1 / -2 ;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
        grid-area: 3 / -1 / span 1 / -2;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

.footer_last_contents {
        grid-area: -1 / 1 / -2 / span 5;
    
        font-size: 1.5em;
    }
}
/* ============================== */

@media screen and (max-width:1350px) {
    main>section {
        grid-template: 150px 200px 100px 1fr 100px/ 1.5fr 7fr 1.5fr;
    }

    .headerMainUl .mainBtnLi.non_iconLi {
        display: none;
    }
}