* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: relative;
    text-align: center;
    background-color: white;
    height: 10vh;
    z-index: 6;
    position: relative;
}

header>nav {
    display: inline-block;
    background-color: white;
    height: 10vh;
    width: 35vw;
    line-height: 10vh;
}

#headerLeft_nav {
    float: left;
}

header>div {
    display: inline-block;
    height: 7vh;
}

header>div a {
    display: inline-block;
    background: url(../../image_folder/logo_basic.png) center/cover;
    width: 18vw;
    height: 7vh;
    margin: calc((10vh - 7vh)/2) auto;
}

#headerRight_nav {
    float: right;
}

header li {
    display: inline-block;
    margin: 0 1vw;
}

header li>a {
    display: inline-block;
    width: 100px;
    line-height: 5vh;
    color: black;
    font-size: 18px;
}

header li>a:hover {
    font-weight: bold;
    background-color: rgb(193, 193, 193);
}
/* 
===================================================== header^
*/

main{
    height: 80vh;
    width: 70%;
    margin: auto;
}

main p{
    margin-top: 5%;
}

main form{
    margin-top: 10%;
}

.change_psw_main>hr{
    border: 2px solid red;
    margin: auto;
    width: 5%;
    margin-top: 5%;
}

.change_psw_main{
    max-width: 700px;
    width: 80%;
    height: 70%;
        
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
}

.changepwd_h1>h1{
    font-size: 2rem;
}


.change_input{
    display: block;
    font-size: 1.5rem;
    font-weight: lighter;

    width: 90%;
    height: 30%;

    border: none;
    border-bottom: 1px solid;
    
    padding-top: 3%;
    box-sizing: border-box;
    position: relative;
    left: 5%;
}

.change_input:focus{
    outline: none;
}
.change_userinfo_label{
    padding-left: 5%;
    text-transform: uppercase;
}
.password,
.confirm_password{
    text-align: left;
    margin-top: 5%;
}
.changepswd_button{
    
    background-color: black;
    color: white;
    box-sizing: border-box;
    
    text-transform: uppercase;
    text-align: center;

    width: 50%;
    line-height: 2.5rem;

    margin-top: 10%;
    cursor: pointer;
}

.show_psw1,
.show_psw2{
    background: none;
    border: none;

    right: 6%;
    font-size: 1.2rem;
    
    position: absolute;
    transform: translateY(-120%);
}

/* 
=====================================================^
*/

footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    z-index: 3;
}

footer>nav {
    height: 35vh;
    background-color: #333;
}

footer>div {
    height: 20vh;
    background-color: #444;
}

/* 
===================================================== footer^
*/
