* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: relative;
    text-align: center;
    background-color: white;
    height: 10vh;
    z-index: 6;
}

header>nav {
    display: inline-block;
    background-color: white;
    height: 10vh;
    width: 35vw;
    line-height: 10vh;
}

#headerLeft_nav {
    float: left;
}

header>div {
    display: inline-block;
    height: 7vh;
}

header>div a {
    display: inline-block;
    background: url(../../image_folder/logo_basic.png) center/cover;
    width: 18vw;
    height: 7vh;
    margin: calc((10vh - 7vh)/2) auto;
}

#headerRight_nav {
    float: right;
}

header li {
    display: inline-block;
    margin: 0 1vw;
}

header li>a {
    display: inline-block;
    width: 100px;
    line-height: 5vh;
    color: black;
    font-size: 18px;
}

header li>a:hover {
    font-weight: bold;
    background-color: rgb(193, 193, 193);
}

/* ===================================================== header^*/
/* main */

/* 메인 헤드 ================================*/

.container1 {
    width: 70%;
    height: 60vh;
    margin: auto;

    font-size: 1.5rem;
    
    display: grid;
    grid-template: 1fr / .1fr repeat(4, 2fr) .1fr;
}

.container1>div {
    width: 100%;
    height: 80%;
    background-color: whitesmoke;
    /* box-sizing: border-box;
    border: 1px solid; */
    
    display: flex;
    justify-content:center;
    align-items: center;
    
    display: grid;
    grid-template-rows: .5fr 1fr 1fr repeat(2, .5fr);
}

.container1 a {
    display: flex;
    justify-content:center;
    align-items: center;
}

/* 메인헤드 이미지=============================================== */

.serviceImages {
    width: 100%;
    height: 100%;
    background: url(../image_folder/service_repair.webp) no-repeat center/100% 100%;
}

/* ================================메인 헤드^ */
/* 메인 바디================================= */

.container2 {
    width: 70%;
    height: 60vh;
    margin: auto;
    background-color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;

    display: grid;
    grid-template: 1fr 1fr 3fr 1fr / .5fr 1fr .5fr;
}

.container2>div,
.container2>h3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question_title {
    grid-area: 2 / 2 / 3 / 3;
}

.question_box {
    grid-area: 3 / 2 / 4 / 3;
}

.question_box {
    width: 100%;

}

.question {
    background-color: burlywood;
}

.answer {
    background-color: #444;
}

/* 
=====================================================
*/

footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    z-index: 3;
}

footer>nav {
    height: 35vh;
    background-color: #333;
}

footer>div {
    height: 20vh;
    background-color: #444;
}

/* 
===================================================== footer^
*/
