* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.headerBigNav {
    box-sizing: border-box;
    position: absolute;
    display: flex;

    width: 100%;
    height: 150px;
    padding: 0 5%;

    z-index: 2;
}

.headerBigNav:hover {
    background-color: white;
}

.headerBigNav:hover .mainBtnLi>a {
    color: black;
}

.menuWrap.left {
    display: flex;
    flex: 2;
}

.logo {
    flex: 1;
}

.menuWrap.right {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

header h1 {
    height: 100%;
    background: url(../../image_folder/logo_new3.png) center / 100% no-repeat;

    min-width: 250px;
}

/* === */

.mainBtnLi {
    display: flex;
    height: 100%;

    align-items: center;
}

.mainBtnLi>a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    color: white;
}

.mainBtnLi>a:hover {
    opacity: .5;
}

.iconBtn {
    width: 50px;
    height: 50px;
}

.non_iconBtn {
    width: 130px;
    height: 50px;

    min-width: 80px;
}

.leftMainUl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.leftMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

.leftMainLi:first-of-type {
    margin-right: 10px;
}

.rightMainUl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.rightMainLi:first-of-type {
    margin-right: 30px;
}

.rightMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

/* 
=========
*/

.leftMainUl>li>ul {
    display: grid;
    visibility: hidden;
    position: absolute;

    grid-template: .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr/ 1fr .3fr 3fr .3fr;

    left: -100%;
    top: 150px;
    width: 800px;
    height: calc(100vh - 150px);

    border: 1px solid;
    background-color: white;
}

.leftMainUl>li:nth-child(3) {
    cursor:default;
}

.leftMainUl>li:nth-child(3):hover>ul {
    cursor:default;
    visibility: initial;
    left: 0;

    transition: .5s;
    /* -webkit-transition: left .5s;
    -moz-transition: left .5s;     
    -ms-transition: left .5s;
    -o-transition: left .5s; */
}

.hoverLi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hoverLi a {
    color: black;
}

.hoverLi.num1 {
    grid-area: 2 / 1 / span 1 / span 1;
}

.hoverLi.num1 a:hover,
.hoverLi.num2 a:hover,
.hoverLi.num3 a:hover,
.hoverLi.num4 a:hover,
.hoverLi.num5 a:hover{
    background-color: gray;
}

.hoverLi.num1~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;

    /* default */
}

.hoverLi.num1:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num2 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.hoverLi.num2:hover~li:last-of-type>div {
    background:url(https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_1280.jpg) center/ cover no-repeat;
}

/* ===== */

.hoverLi.num3 {
    grid-area: 6 / 1 / span 1 / span 1;
}

.hoverLi.num3:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/05/09/16/13/texture-3385535_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num4 {
    grid-area: 8 / 1 / span 1 / span 1;
}


.hoverLi.num4:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/06/10/12/51/olive-wood-3466396_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num5 {
    grid-area: 10 / 1 / span 1 / span 1;
}

.hoverLi.num5:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2016/06/24/09/14/glass-1476909_1280.jpg) center / cover no-repeat;

    background-position: -300px;
}

/* ===== */

.hoverLi.num6 {
    grid-area: 2 / 3 / -2 / span 1;
}

.hover_a, .hover_div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
}

.hover_a, .hover_div {
    width: 100%;
    height: 100%;
}

.hover_a.hoverMenu {
    width: 80%;
}

/* ===================== */
/* main */

main{
    text-align: center;
    
    margin: auto;
}

.zero_div {
    height: 150px;
    background: url(../../image_folder/main_banner.jpeg) 0/100% no-repeat;
}

.main_title {
    display: inline-block;
    width: 70%;
    height: 10%;
    line-height: 10vh;
    
    color: white;
    background-image: url(../../image_folder/main_back.jpeg);

    font-size: 1.5em;
    margin-top: 5vh;
}

section {
    display: inline-block;
    width: 70%;
    height: 90%;
    
    text-align: center;
    
    position: relative;
}

#section_top{
    width: 70%;
    height: 80%;
    line-height: calc(75vh * .3);
    
    float: left;
    
    margin-top: 2vh;
}

#section_top p {
    line-height: 5vh;
    text-align: left;

    font-size: 1.5em;
}

.buy_table {
    width: 100%;
    border-collapse: collapse;
}

.buy_table th {
    height: 30%;
    line-height: 3vh;

    border-bottom: 1px solid;
}

.buy_table td {
    height: 10vh;
    line-height: 3vh;
    
    text-align: center;
}

#table_th_img{
    width: 35%;
}

#table_th_name{
    width: 15%;
}

#table_th_num{
    width: 10%;
}

#table_th_total{
    width: 20%;
}

#table_th_info{
    width: 20%;
}

#table_td_num {
    width: 50%;
    text-align: center;
}

#img_item_buy1 {
    background: url(https://cdn.pixabay.com/photo/2015/12/30/12/09/clock-1114074_960_720.jpg) 0/40% no-repeat;
    background-position: center;   
}

#img_item_buy2 {
    background: url(https://cdn.pixabay.com/photo/2014/10/03/14/14/watch-471758_960_720.jpg) 0/40% no-repeat;
    background-position: center;   
}


/* ===================================== */
/* section_middle 2.주문고객*/

#section_middle {
    width: 70%;
    height: 60vh;

    float: left;
    
    border-collapse: collapse;
    
    margin-top: 2vh;
}

#section_middle p {
    line-height: 5vh;

    text-align: left; 
    font-size: 1.5em;
}

#table_middle{
    width: 100%;
    height: 50vh;
}

#table_middle th {
    width: 30%;
}

#table_middle td {
    width: 23.3%;
}

#table_middle td label {
    font-size: .8em;
}

#table_middle td:not(.table_middle_right) {
    height: .5vh;

    text-align: justify;
    font-size: 1em;
}

#table_middle td input {
    border: none;
    border-bottom: 1px solid;
}

#table_input_length {
    width: 20vw;
}

#table_middle_delivery a {
    display: inline-block;
    width: 10vw;
    line-height:4vh;

    text-align: center;
        
    background-color: #333;
    color: white;
}

.table_middle_right {
    width: 80%;

    text-align: right;
}

.table_middle_delivery_memo {
    width: 80%;
}

/* ==================================== */
/* section_bottom 3.결제방법 */
#section_bottom {
    width: 70%;
    height: 40vh;

    text-align: center;
    
    float: left;
    
    margin-top: 2vh;
}

#section_bottom p {
    line-height: 5vh;
    
    text-align: left; 
    font-size: 24px;
}

#section_bottom nav {
    margin-bottom: 20px;
    
}

#section_bottom nav>ul {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

#section_bottom nav>ul>li{
    width: 30%;
    line-height: 40px;
    
    float: left;
    
    background-color: #333;
    
    margin-top: 2vh;
    margin-left: 1vw;
}

#section_bottom nav>ul>li a {
    color: white;
}
/* =============================== */
/* aside */
.aside_etc{
    display: inline-block;
    width: 25%;
    height: 45%;

    position: absolute;
    
    right: 0;
    top: 5vh;
}

.aside_etc table {
    width: 100%;
    height: 40%;

    text-align: right;
    border-collapse: collapse;
    
    margin-top: 3vh;
}

.aside_table_bold{
    font-weight: bold;
}

.aside_etc table td{
    height: 1vh;
    
    text-align: center;
    font-size: .9em;
}

.aside_etc .aside_right {
    text-align: right;
}

#aside_table_border_bottom {
    border-bottom: 1px solid;
}

#aside_table_td_total {
    font-size: 1.5em;
}

.aside_etc p:nth-of-type(1) {
    line-height: 5vh;
    
    text-align: center; 
    font-size: 1.5em;
}

.aside_etc p:nth-of-type(2) {
    text-align: center;
    font-size: .7em;
}

.aside_buy {
    width: 25%;

    position: absolute;
    right: 0;
    top: 30%;
}

.aside_buy a {
    display: inline-block;
    width: 100%;
    height: 5vh;
    line-height: 5vh;

    text-align: center;
    text-decoration: none;

    font-size: 1.5em;
    vertical-align: top;
    
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
}

/* =============================== */
/* footer */

@media screen and (min-width:400px) {
    footer {
        width: 100%;
        height: auto;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;
        height: auto;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 3fr .5fr 2fr .5fr 3fr .5fr 2fr .5fr 3fr .5fr 1fr .5fr 1.5fr ;
    }

    .footer_center {
        text-align: center;
        align-self: center;
    }

    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-row: 14/15;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        border-radius: 50%;
    }

    .footer_icon>span i {
        color: black;
    }

    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    
    .footer_left_name {
        grid-row: 2/3;
    }

    .footer_left_contents {
        grid-row: 4/5;
    }

    .footer_middle_name {
        grid-row: 6/7;
    }

    .footer_middle_contents {
        grid-row: 8/9;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
    
        grid-row: 10/11;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
    
        grid-row: 12/13;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

    .footer_last_contents {
    
        grid-row: -1/-2;
    
        font-size: 1.3em;
    }
}

@media screen and (min-width:800px) {
    footer {
        width: 100%;
        height: 40vh;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;

        display: grid;
        grid-template: .5fr 2fr 5fr 1fr 1.5fr / 3fr .5fr 3fr .5fr 3fr;

    }
    
    .footer_center {
        text-align: center;
        align-self: center;
    }
    
    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-area: 4 / 1 / 5 / span 1;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
        position: relative;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        /* border-radius: 30%; */
        
    }

    .footer_icon>span i {
        color: black;
    } 
    
    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }

    .footer_left_name {
        grid-area: 2 / 1 / 3 / span 1;
    }

    .footer_left_contents {
        grid-area: 3 / 1 / 4 / span 1;
    }

    .footer_middle_name {
        grid-area : 2 / 3 / span 1 / 4;
    }

    .footer_middle_contents {
        grid-area : 3 / 3 / span 1 / 4;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
        grid-area : 2 / -1 / span 1 / -2 ;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
        grid-area: 3 / -1 / span 1 / -2;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

.footer_last_contents {
        grid-area: -1 / 1 / -2 / span 5;
    
        font-size: 1.5em;
    }
}
@media screen and (max-width:1350px) {
    main>section {
        grid-template: 200px 200px 100px 1fr 100px/ 1.5fr 7fr 1.5fr;
    }

    .headerMainUl .mainBtnLi.non_iconLi {
        display: none;
    }
}