* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: relative;
    text-align: center;
    background-color: white;
    height: 10vh;
    z-index: 6;
}

header>nav {
    display: inline-block;
    background-color: white;
    height: 10vh;
    width: 35vw;
    line-height: 10vh;
}

#headerLeft_nav {
    float: left;
}

header>div {
    display: inline-block;
    height: 7vh;
}

header>div a {
    display: inline-block;
    background: url(../../../image_folder/logo_basic.png) center/cover;
    width: 18vw;
    height: 7vh;
    margin: calc((10vh - 7vh)/2) auto;
}

#headerRight_nav {
    float: right;
}

header li {
    display: inline-block;
    margin: 0 1vw;
}

header li>a {
    display: inline-block;
    width: 100px;
    line-height: 5vh;
    color: black;
    font-size: 18px;
}

header li>a:hover {
    font-weight: bold;
    background-color: rgb(193, 193, 193);
}

/* 
===================================================== header^
*/

main {
    width: 70%;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
}

.item_pic {
    height: 50vh;
    flex-basis: 50%;

    background-color: aqua;
}

.item_discription {
    height: 50vh;
    flex-basis: 50%;

    background-color: bisque;
}

.item_detail {
    height: 100vh;
    flex-basis: 100%;

    background-color: cadetblue;
}



/* 
===================================================== main^
*/

footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    z-index: 3;
}

footer>nav {
    height: 35vh;
    background-color: #333;
}

footer>div {
    height: 20vh;
    background-color: #444;
}

/* 
===================================================== footer^
*/
