* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.headerBigNav {
    box-sizing: border-box;
    position: absolute;
    display: flex;

    width: 100%;
    height: 150px;
    padding: 0 5%;

    z-index: 2;
}

.headerBigNav:hover {
    background-color: #444;
}

.headerBigNav:hover .mainBtnLi>a {
    color: white;
}

.menuWrap.left {
    display: flex;
    flex: 2;
}

.logo {
    flex: 1;
}

.menuWrap.right {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

header h1 {
    height: 100%;
    background: url(../../image_folder/logo_new2.png) center / 100% no-repeat;

    min-width: 250px;
}

/* === */

.mainBtnLi {
    display: flex;
    height: 100%;

    align-items: center;
}

.mainBtnLi>a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    color: black;
}

.mainBtnLi>a:hover {
    opacity: .5;
}

.iconBtn {
    width: 50px;
    height: 50px;
}

.non_iconBtn {
    width: 130px;
    height: 50px;

    min-width: 80px;
}

.leftMainUl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.leftMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

.leftMainLi:first-of-type {
    margin-right: 10px;
}

.rightMainUl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.rightMainLi:first-of-type {
    margin-right: 30px;
}

.rightMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

/* 
=========
*/

.leftMainUl>li>ul {
    display: grid;
    visibility: hidden;
    position: absolute;

    grid-template: .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr/ 1fr .3fr 3fr .3fr;

    left: -100%;
    top: 150px;
    width: 800px;
    height: calc(100vh - 150px);

    border: 1px solid;
    background-color: white;
}

.leftMainUl>li:nth-child(3) {
    cursor:default;
}

.leftMainUl>li:nth-child(3):hover>ul {
    cursor:default;
    visibility: initial;
    left: 0;

    transition: .5s;
    /* -webkit-transition: left .5s;
    -moz-transition: left .5s;     
    -ms-transition: left .5s;
    -o-transition: left .5s; */
}

.hoverLi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hoverLi a {
    color: black;
}

.hoverLi.num1 {
    grid-area: 2 / 1 / span 1 / span 1;
}

.hoverLi.num1 a:hover,
.hoverLi.num2 a:hover,
.hoverLi.num3 a:hover,
.hoverLi.num4 a:hover,
.hoverLi.num5 a:hover{
    background-color: gray;
}

.hoverLi.num1~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;

    /* default */
}

.hoverLi.num1:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num2 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.hoverLi.num2:hover~li:last-of-type>div {
    background:url(https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_1280.jpg) center/ cover no-repeat;
}

/* ===== */

.hoverLi.num3 {
    grid-area: 6 / 1 / span 1 / span 1;
}

.hoverLi.num3:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/05/09/16/13/texture-3385535_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num4 {
    grid-area: 8 / 1 / span 1 / span 1;
}


.hoverLi.num4:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/06/10/12/51/olive-wood-3466396_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num5 {
    grid-area: 10 / 1 / span 1 / span 1;
}

.hoverLi.num5:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2016/06/24/09/14/glass-1476909_1280.jpg) center / cover no-repeat;

    background-position: -300px;
}

/* ===== */

.hoverLi.num6 {
    grid-area: 2 / 3 / -2 / span 1;
}

.hover_a, .hover_div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
}

.hover_a, .hover_div {
    width: 100%;
    height: 100%;
}

.hover_a.hoverMenu {
    width: 80%;
}


/* ========================================= */
/* main시작 first배너쪽 */

main {
    box-sizing: border-box;

    width: 100%;
    height: 80%;
    text-align: center;

    margin-top: 30px;
    margin: 0 auto;
}

.zero_div {
    height: 150px;
    /* background-color: ; */
}

#first_div {
    display: inline-block;
    width: 70%;
    height: 10%;
    line-height: 100px;
    
    text-align: center;
    font-size: 1.5em;
    
    background-image: url(../../image_folder/main_back.jpeg) ;
    color: white;
    margin-top: 5vh;
}

/* ==================================== */
/* main에서 배너 제외한사이즈 (article) */

article {
    width: 70%;
    height: 80%;

    display: inline-block;
    margin-top: 5vh;
}
/* ========================================= */
/* article내 화면 3개  */



.grid_gallery {
    display: grid;
    width: 100%;
    grid-auto-rows: 400px;
    
    gap: 30px;
}

.grid_gallery img {
    width: 100%;
    height: 100%;  
}

.grid_gallery>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid_gallery div:nth-child(1) {
    background: url(https://cdn.pixabay.com/photo/2019/11/13/10/17/gents-4623183_960_720.jpg) no-repeat center/cover;
}

.grid_gallery div:nth-child(4) {
    background: url(https://cdn.pixabay.com/photo/2019/01/04/09/14/time-3912732_960_720.jpg) no-repeat center/cover;
}

.grid_gallery div:nth-child(5) {
    background: url(https://cdn.pixabay.com/photo/2017/09/15/15/59/clock-2752610_960_720.jpg) no-repeat center/cover;
}


.grid_gallery div:nth-child(2),
.grid_gallery div:nth-child(3),
.grid_gallery div:nth-child(6) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid_gallery div:nth-child(2)>p:nth-child(1),
.grid_gallery div:nth-child(3)>p:nth-child(1),
.grid_gallery div:nth-child(6)>p:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
}

/* ============================================ */
/* 반응형 웹 */
@media screen and (min-width:400px) {
    .grid_gallery {
        grid-template-columns: repeat(1, minmax(300px,1fr));
    }

    .grid_gallery>div:nth-child(1) {
        order: 1;
    }
    .grid_gallery>div:nth-child(2) {
        order: 2;
    }
    .grid_gallery>div:nth-child(3) {
        order: 4;
    }
    .grid_gallery>div:nth-child(4) {
        order: 3;
    }
    .grid_gallery>div:nth-child(5) {
        order: 5;
    }
    .grid_gallery>div:nth-child(6) {
        order: 6;
    }
}

@media screen and (min-width:800px) {

    .grid_gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_gallery div:nth-child(4n+1),
    .grid_gallery div:nth-child(4n) {
        grid-column: span 2;
    }

    .grid_gallery>div:nth-child(1) {
        order: 1;
    }

    .grid_gallery>div:nth-child(2) {
        order: 2;
    }

    .grid_gallery>div:nth-child(3) {
        order: 3;
    }

    .grid_gallery>div:nth-child(4) {
        order: 4;
    }

    .grid_gallery>div:nth-child(5) {
        order: 5;
    }

    .grid_gallery>div:nth-child(6) {
        order: 6;
    }
}


/* =======================main nav */
/* why choose?부분 */

@media screen and (min-width:400px) {
    main nav {
        display: inline-block;
        width: 100%;
    }
    
    main nav>div:nth-of-type(1) {
        text-transform: uppercase;
    
        font-weight: bold;
        font-size: 2em;
    
        margin: 3vh 0;
    }
    
    #main_nav_three {
        display: flex;
        width: 100%;
        line-height: 3vh;
    
        justify-content: space-evenly;
    
        margin-bottom: 10vh;
    }
    
    #main_nav_three div:nth-child(n) {
        width: 30%;
    }
    
    #main_nav_three div p:nth-child(1) {
        font-size: 1em;
        font-weight: bold;
        margin: 1vh;   
    }
    
    #main_nav_three div p:nth-child(2) {
        display: none;
        margin: 3vh;
    }
}

@media screen and (min-width:800px) {
    main nav {
        display: inline-block;
        width: 100%;
    }
    
    main nav>div:nth-of-type(1) {
        text-transform: uppercase;
    
        font-weight: bold;
        font-size: 2em;
    
        margin: 3vh 0;
    }
    
    #main_nav_three {
        display: flex;
        width: 100%;
        line-height: 3vh;
    
        justify-content: space-evenly;
    
        margin-bottom: 10vh;
    }
    
    #main_nav_three div:nth-child(n) {
        width: 30%;
    }
    
    #main_nav_three div p:nth-child(1) {
        font-size: 1.5em;
    
        margin: 1vh;   
    }
    
    #main_nav_three div p:nth-child(2) {
        display: flex;
        margin: 3vh;
    }
}


/*======================================  */
/* 푸터 위 배너 이미지 */

@media screen and (min-width:400px) {
    
    main>div:last-child {
        display: inline-block;
        width: 70%;
        height: 30vh;

        margin-bottom: 5vh;
    }

    .wrap {
        display: flex;
        width: 100%;
        height: 100%;

        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap; 
    
        background: url(../../image_folder/main_banner.jpeg);
    
        margin: auto;
    }

    .wrap span {
        display: flex;

        justify-content: center;

        color: white;
    }

    .wrap>span:nth-child(1) {
        font-size: 1em;
        font-weight: bold;
    }

    .wrap>span>:nth-child(2) {
        font-weight: lighter;
        font-size: .3em;
    }
}

@media screen and (min-width:800px) {
    
    main>div:last-child {
        display: inline-block;
        width: 70%;
        height: 30vh;

        margin-bottom: 5vh;
    }

    .wrap {
        display: flex;
        width: 100%;
        height: 100%;

        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap; 
    
        background: url(../../image_folder/main_banner.jpeg);
    
        margin: auto;
    }

    .wrap span {
        display: flex;

        justify-content: center;

        color: white;
    }

    .wrap>span:nth-child(1) {
        font-size: 2em;
        font-weight: bold;
    }

    .wrap>span>:nth-child(2) {
        font-weight: lighter;
    }
}
/* 

/* ======================================= */
/* footer */

@media screen and (min-width:400px) {
    footer {
        width: 100%;
        height: auto;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;
        height: auto;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 3fr .5fr 2fr .5fr 3fr .5fr 2fr .5fr 3fr .5fr 1fr .5fr 1.5fr ;
    }

    .footer_center {
        text-align: center;
        align-self: center;
    }

    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-row: 14/15;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        border-radius: 30%;
    }

    .footer_icon>span i {
        color: black;
    }

    .footer_left_name {
        grid-row: 2/3;
    }

    .footer_left_contents {
        grid-row: 4/5;
    }

    .footer_middle_name {
        grid-row: 6/7;
    }

    .footer_middle_contents {
        grid-row: 8/9;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
    
        grid-row: 10/11;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
    
        grid-row: 12/13;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

    .footer_last_contents {
    
        grid-row: -1/-2;
    
        font-size: 1.3em;
    }
}

@media screen and (min-width:800px) {
    footer {
        width: 100%;
        height: 40vh;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;

        display: grid;
        grid-template: .5fr 2fr 5fr 1fr 1.5fr / 3fr .5fr 3fr .5fr 3fr;
    }

    .footer_center {
        text-align: center;
        align-self: center;
    }
    
    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-area: 4 / 1 / 5 / span 1;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        border-radius: 30%;
    }

    .footer_icon>span i {
        color: black;
    }

    .footer_left_name {
        grid-area: 2 / 1 / 3 / span 1;
    }

    .footer_left_contents {
        grid-area: 3 / 1 / 4 / span 1;
    }

    .footer_middle_name {
        grid-area : 2 / 3 / span 1 / 4;
    }

    .footer_middle_contents {
        grid-area : 3 / 3 / span 1 / 4;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
        grid-area : 2 / -1 / span 1 / -2 ;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
        grid-area: 3 / -1 / span 1 / -2;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

.footer_last_contents {
        grid-area: -1 / 1 / -2 / span 5;
    
        font-size: 1.5em;
    }
}
/* ============================== */

@media screen and (max-width:1350px) {
    main>section {
        grid-template: 200px 200px 100px 1fr 100px/ 1.5fr 7fr 1.5fr;
    }

    .headerMainUl .mainBtnLi.non_iconLi {
        display: none;
    }
}